<p>example works!</p>
 
<p>Total: {{ amount | currency}}</p>
Formatted and Uppercased: {{ eventDate | date:'fullDate' | uppercase }}

<!-- <container-element [ngSwitch]="today">
  <span *ngSwitchCase="0"><h1>Sunday</h1></span>
  <span *ngSwitchCase="1"><h1>Monday</h1></span>
  <span *ngSwitchCase="2"><h1>Tuesday</h1></span>
  <span *ngSwitchCase="3"><h1>Wednesday</h1></span>
  <span *ngSwitchCase="4"><h1>Thursday</h1></span>
  <span *ngSwitchCase="5"><h1>Friday</h1></span>
</container-element> -->

<!-- <ul>
  <li *ngFor="let item of stlist">
    {{item.id}},{{item.name}},{{item.Mark}}
  </li>
</ul> -->


<!-- <ng-template [ngIf]="msg" [ngIfElse]="d1">
    Helooooo... 
</ng-template>
<ng-template #d1>
    <p>hai good morning....Welcome</p>
</ng-template> -->

<!-- <div *ngIf="check; else d1">
  Helooooo..
</div>
<ng-template #d1>
  <p>hai good morning....welcome</p>
</ng-template> -->

<!-- Structural directives--ngIf,ngFor,ngSwitch----- -->

<!-- <button (click)="display()">click me</button> -->
<!-- <p *ngIf="check">Condition is true..if case is working</p> -->
<!-- <p *ngIf="!check">Condition is false..else case is working</p>  -->

<!--twoway binding-->
<!-- <input type="text"[(ngModel)]="msg"> -->
<!-- <br> -->
<!-- <input type="text"[(ngModel)]="msg"> -->

 <!-- eventbinding -->
 <!-- {{buttonstatus}} -->
 <!-- <br> -->
<!-- <button (click)="display()">click Me</button> --> 
<!--classbinding next-->
<!-- <h1 class="danger">class Danger</h1> -->
<!-- <br> -->
<!-- <h1 class="sucess">{{name}}</h1> -->
<!-- <br> -->
<!-- <h1 [class]="dclass">{{name}}</h1> -->
<!--Property Binding-->
<!-- <input type="text" value="Welcome">
<br>
<input type="text"[value]="name">
<br>
Dynamic Binding or angular interpolation-->
<!-- <input type ="text" value="{{name}}"> -->
<!-- <h1>hi elani</h1> -->
<!-- <br>
<h1> heloo..{{Name}}</h1>
<h2>{{num}}</h2>
<h2>100+200={{100+200}}</h2>
<h2>sum:{{num+num}}</h2>
<h2>Length is:{{Name.length}}</h2>
<h2>{{Name.toUpperCase()}}</h2>
<h2>{{display()}}</h2> -->